{% extends 'base.html' %} 

{% block content %}

<div class="car-body border-top">
    <a href="effectCalc" class="btn btn-primary btn-lg">Effect Size</a>
    <a href="nobsCalc" class="btn btn-primary btn-lg">Sample Size</a>
    <a href="powerCalc" class="btn btn-primary btn-lg">Statistical Power</a>
</div>

<form action="/powerCalc" method="POST" novalidate>
    <h1>Statistic Form</h1>
    {{ form.hidden_tag() }}
    <p>
        <!-- {{ form.effect.label }}<br> -->
        <h3>Effect</h3>
        {{ form.effect(size=32) }}
    </p>

    <p>
        <!-- {{ form.effect.label }}<br> -->
        <h3>Number of Observation</h3>
        {{ form.nobs(size=32) }}
    </p>

    <p>
        <!-- {{ form.alpha.label }}<br> -->
        <h3>Alpha</h3>
        {{ form.alpha }} 
    </p>

    <p>
        <!-- {{ form.test.label }}<br> -->
        <h3>Test</h3>
        {{ form.test }}
    </p>

    <p>
        <!-- {{ form.test.label }}<br> -->
        <h3>Alternative</h3>
        {{ form.alternative }}
    </p>

    <p>{{ form.submit2() }}</p>

    {% for message in get_flashed_messages() %}
        {{ message }}


        <div class="chart" id="bargraph">
            <script>
                var graphs = {{plot | safe}};
                Plotly.plot('bargraph',graphs,{});
            </script>
        </div>


        <div class="chart" id="table">
            <script>
                var tables = {{plot2 | safe}};
                Plotly.plot('table',tables,{});
            </script>
        </div>
        
    {% endfor %}



</form>


{% endblock %}