<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>frontend</title>
    <link href=/../static/css/about.fabfc859.css rel=prefetch>
    <link href=/../static/css/chunk-0be581b8.15f768c6.css rel=prefetch>
    <link href=/../static/css/chunk-0dfeb9d3.0cb12730.css rel=prefetch>
    <link href=/../static/css/chunk-79d50aaf.ad9d6dc3.css rel=prefetch>
    <link href=/../static/css/chunk-fd28169a.eb9a5d38.css rel=prefetch>
    <link href=/../static/js/about.072997b5.js rel=prefetch>
    <link href=/../static/js/chunk-0be581b8.9bf3b270.js rel=prefetch>
    <link href=/../static/js/chunk-0dfeb9d3.4031d800.js rel=prefetch>
    <link href=/../static/js/chunk-79d50aaf.c443524b.js rel=prefetch>
    <link href=/../static/js/chunk-fd28169a.eec124de.js rel=prefetch>
    <link href=/../static/css/app.10484afb.css rel=preload as=style>
    <link href=/../static/css/chunk-vendors.f55bced4.css rel=preload as=style>
    <link href=/../static/js/app.332f627e.js rel=preload as=script>
    <link href=/../static/js/chunk-vendors.85dfb792.js rel=preload as=script>
    <link href=/../static/css/chunk-vendors.f55bced4.css rel=stylesheet>
    <link href=/../static/css/app.10484afb.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/../static/js/chunk-vendors.85dfb792.js></script>
<script src=/../static/js/app.332f627e.js></script>
</body>
</html>