{% extends 'base.html' %} 

{% block content %}
<!-- <h1>This is where the form is going to display</h1> -->

<form action="/power" method="POST" novalidate>
    <h1>Statistic Form</h1>
    {{ form.hidden_tag() }}
    <p>
        <!-- {{ form.effect.label }}<br> -->
        <h3>Effect</h3>
        {{ form.effect(size=32) }}
    </p>

    <p>
        <!-- {{ form.alpha.label }}<br> -->
        <h3>Alpha</h3>
        {{ form.alpha }} 
    </p>

    <p>
        <!-- {{ form.power.label }}<br> -->
        <h3>Power</h3>
        {{ form.power(size=32) }}
    </p>

    <p>
        <!-- {{ form.test.label }}<br> -->
        <h3>Test</h3>
        {{ form.test }}
    </p>

    <p>{{ form.submit2() }}</p>

    {% for message in get_flashed_messages() %}
        <h3>Here are your inputs</h3>
        {{ message }}
    {% endfor %}



</form>

{% endblock %}